/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.tanvir-block-container {
    width: 400px;
    height: auto;
    margin: 2% auto;
    position: relative;
    overflow: hidden;
    background: #fbfbfb;
    box-shadow: 2px 18px 70px 0px #9D9D9D;
    padding: 20px 40px;
    border-radius: 7px;
    
    .tanvir-block-form input {
      display: block;
      margin-bottom: 8px;
      padding: 8px 16px;
      width: 90%;
      border: 1px solid #ddd;
      border-radius: 3px;
      font-size: 14px;
    }
    button {
      background: none;
      border: 2px solid #dedddd;
      border-radius: 3px;
      color: #000000;
      font-weight: bolder;
      font-size: 14px;
      padding: 8px 26px;
      margin-top: 20px;
      cursor: pointer;
      margin-bottom: 40px;
    }
    button:hover {
      background: #f70090;
      color: #fff;
      transition: color 0.3s ease-in;
    }
}

