/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.tanvir-block-card-wrap {
	background-color: #4121B2;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	padding: 10%;
	transition: all .2s ease-in;
	display: flex;
	align-items: center;

	.tanvir-block-card {
		border-radius: 16px;
		background-color: #fff;
		height: 100%;
		width: 100%;
		max-height: 100vh;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		overflow: hidden;
		
		.tanvir-block-cta {
			width: 60%;
			padding: 32px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: 100%;
			
			h1 {
				font-size: 3.5em;
				margin: 0 0 16px 0;
				font-family: "futura-pt",sans-serif;
				text-transform: uppercase;		
			}
			
			.tanvir-block-des {
				font-size: 1.25em;
				margin: 0;
			}
			
			.price {
				display: flex;
				align-items: center;
			}
			
			.amount {
				font-size: 2em;
				margin-left: 8px;
				font-family: "futura-pt",sans-serif;
			}
			
			button {
				background-color: #4121B2;
				border:0;
				border-radius: 4px;
				padding: 16px 48px;
				
				a {
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: 20px;
				}
				
			}
			.tanvir-block-form {
				border: 1px solid black;
				margin: 20px auto;
				
				.tanvir-block-input {
					padding: 10px;
					border: 0;
				}
				.tanvir-block-btn {
					padding: 10px 16px;
					background: black;
					color: #fff;
					cursor: pointer;
					font-weight: 700;
					font-size: 18px;
				}
			}
			
		}
		
		.tanvir-block-img {
			width: 40%;
			height: auto;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

	}

}


@media (max-width: 880px){
	.tanvir-block-card {
		flex-direction: column;
	}
	
	.tanvir-block-cta {
		height: 100%;
		width: 100%;
		max-width:640px;
		margin: 0 auto;
		
		h1 {
			font-size: 2.5em;
		}
		
		.tanvir-block-des {
			font-size: 1em;
		}
		
		.amount {
			font-size: 1.5em;
		}
		
		button a{
			font-size: 1.0em;	
		}
		
	}
	
	.tanvir-block-img {
		order:-1;
		width: 100%;
		height: 100%;
	}
	
}

@media (max-width: 512px){
	
	.tanvir-block-card-wrap {
		padding: 7%;
		transition: all .2s ease-in;
	}
	
	.tanvir-block-card {
		max-height: 90vh;
	}
	
	.tanvir-block-cta h1 {
		font-size: 2.5em;
	}
	
}

@media (max-width: 380px){
	
	
	.tanvir-block-cta {
		
		padding: 24px;
		
		h1 {
			font-size: 2em;
		}
	
		button {
			padding: 16px 0;
			width: 100%;
		}
	}
}

@media (max-height: 764px){
	
	.tanvir-block-card-wrap {
		height: 100%;
	}
	
	.tanvir-block-card {
		max-height: 100%;
		height: 640px;
	}
	
}
