<!-- wp:template-part {"slug":"header","theme":"clg","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:post-content {"align":"wide","style":{"spacing":{"blockGap":"0"}},"fontSize":"medium","layout":{"type":"constrained","wideSize":"1200px"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"clg"} /-->